<form [formGroup]="defenderForm">
    <div class="formutils__two-cols">
        <mat-form-field>
            <mat-label>Defending unit</mat-label>
            <mat-select formControlName="unitType" (selectionChange)="unitTypeSelectionChanged()">
                <mat-option *ngFor="let unitType of unitTypes" [value]="unitType">{{ unitType.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Veteran level</mat-label>
            <mat-select formControlName="veteranLevel" [disabled]="defenderForm.controls.unitType.invalid">
                <mat-option *ngFor="let level of availableVeteranLevels$ | async" [value]="level">{{
                    level.name
                }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="formutils__single-line">
        <p class="nomargin">Defender HP</p>
        <mat-slider
            class="formutils__single-line__grow"
            formControlName="hp"
            [disabled]="defenderForm.controls.unitType.invalid"
            min="0"
            [max]="(maxHp$ | async) ?? 0"
            step="1"
            value="5"
            thumbLabel
            tickInterval="1"></mat-slider>
    </div>
    <mat-checkbox formControlName="isFortified">Fortified</mat-checkbox>
</form>
