<form [formGroup]="attackerForm" class="formutils__gaps">
    <mat-form-field class="fullwidth" subscriptSizing="dynamic">
        <mat-label>Attacking unit</mat-label>
        <mat-select
            formControlName="unitType"
            panelClass="select-10-values"
            (selectionChange)="unitTypeSelectionChanged()">
            <mat-option *ngFor="let unitType of unitTypes" [value]="unitType">{{ unitType.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fullwidth" subscriptSizing="dynamic">
        <mat-label>Veteran level</mat-label>
        <mat-select formControlName="veteranLevel">
            <mat-option *ngFor="let level of availableVeteranLevels$ | async" [value]="level">{{
                level.name
            }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="formutils__single-line">
        <p class="nomargin">Attacker HP</p>
        <mat-slider
            class="formutils__single-line__grow"
            min="0"
            [max]="(maxHp$ | async) ?? 0"
            step="1"
            discrete
            showTickMarks>
            <input matSliderThumb formControlName="hp" />
        </mat-slider>
    </div>
    <div class="formutils__single-line">
        <p class="nomargin">Remaining moves</p>
        <mat-slider
            class="formutils__single-line__grow"
            min="0"
            [max]="(moveFrags$ | async) ?? 0"
            step="1"
            discrete
            showTickMarks
            [displayWith]="formatMoves.bind(this)">
            <input matSliderThumb formControlName="moves" />
        </mat-slider>
    </div>
</form>
