<form [formGroup]="defenderForm">
    <div class="flex">
        <mat-form-field>
            <mat-label>Defending unit</mat-label>
            <mat-select formControlName="unitType" (selectionChange)="unitTypeSelectionChanged()">
                <mat-option *ngFor="let unitType of unitTypes" [value]="unitType">{{ unitType.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Veteran level</mat-label>
            <mat-select formControlName="veteranLevel" [disabled]="defenderForm.controls.unitType.invalid">
                <mat-option *ngFor="let level of availableVeteranLevels$ | async" [value]="level">{{
                    level.name
                }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="flex flex-align-center">
        <p class="nomargin">Defender HP</p>
        <mat-slider
            class="flex-grow"
            formControlName="hp"
            [disabled]="defenderForm.controls.unitType.invalid"
            min="0"
            [max]="(maxHp$ | async) ?? 0"
            step="1"
            value="5"
            thumbLabel
            tickInterval="1"></mat-slider>
    </div>
    <mat-form-field>
        <mat-label>Terrain</mat-label>
        <mat-select formControlName="terrain">
            <mat-option *ngFor="let terrain of terrains$ | async" [value]="terrain">{{ terrain.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex flex-align-center">
        <mat-checkbox formControlName="isInCity">Inside a city</mat-checkbox>
        <mat-form-field class="ml-auto">
            <mat-label>City size</mat-label>
            <input matInput formControlName="citySize" type="number" min="1" max="99" />
        </mat-form-field>
    </div>
    <mat-checkbox formControlName="isFortified">Fortified</mat-checkbox>
    <div class="horizontal-spacer"></div>
    <mat-form-field>
        <mat-label>Tile extras</mat-label>
        <mat-select multiple formControlName="tileExtras">
            <mat-option *ngFor="let extra of extras$ | async" [value]="extra">{{ extra }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>City buildings</mat-label>
        <mat-select multiple formControlName="cityBuildings">
            <mat-option *ngFor="let building of buildings$ | async" [value]="building">{{ building }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Player wonders</mat-label>
        <mat-select multiple formControlName="playerWonders">
            <mat-option *ngFor="let wonder of wonders$ | async" [value]="wonder">{{ wonder }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>
