:host {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 8px;
}

.flex-align-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.nomargin {
    margin: 0;
}

.ml-auto {
    margin-left: auto;
}

.horizontal-spacer {
    height: 16px;
}

.grid-twocol {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
