<div class="util-cards">
    <mat-card class="util-card" (click)="openUtil('combatSim')">
        <mat-card-content>
            <h3 class="util-card__title">Combat simulator (1v1)</h3>
        </mat-card-content>
    </mat-card>
    <mat-card class="util-card" (click)="openUtil('battleSim')">
        <mat-card-content>
            <h3 class="util-card__title">Battle Simulator</h3>
        </mat-card-content>
    </mat-card>
    <mat-card class="util-card" (click)="openUtil('bribeCostCalc')">
        <mat-card-content>
            <h3 class="util-card__title">Bribe cost calculator</h3>
        </mat-card-content>
    </mat-card>
    <mat-card class="util-card" (click)="openUtil('inciteCostCalc')">
        <mat-card-content>
            <h3 class="util-card__title">Incite cost calculator</h3>
        </mat-card-content>
    </mat-card>
</div>
