@use '@angular/material' as mat;

:host {
    display: block;
}

.util-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.util-card {
    cursor: pointer;

    &:hover {
        @include mat.elevation(6);
    }

    &__title {
        text-align: center;
    }
}
