<div class="util-cards">
    <mat-card class="util-card" (click)="openUtil('combatForm')">
        <mat-card-content>
            <h3 class="util-card__title">Combat simulator</h3>
        </mat-card-content>
    </mat-card>
    <mat-card class="util-card" (click)="openUtil('bribeCostForm')">
        <mat-card-content>
            <h3 class="util-card__title">Bribe cost calculator</h3>
        </mat-card-content>
    </mat-card>
    <mat-card class="util-card" (click)="openUtil('inciteCostForm')">
        <mat-card-content>
            <h3 class="util-card__title">Incite cost calculator</h3>
        </mat-card-content>
    </mat-card>
</div>
