<p>Not implemented: Defense bonus from rivers (<code>combat.cpp:583-584</code>)</p>
<p>Not implemented: "Land bombardment" logic (<code>combat.cpp:396</code>)</p>
<p>
    TODO: show remaining MP (<code>unithand.cpp:4009</code> and associated <code>utype_move_rate()</code> at
    <code>movement.cpp:38</code>)
</p>
<div class="unit-info-container">
    <mat-card>
        <mat-card-title>Attacking unit</mat-card-title>
        <mat-card-content>
            <app-attacker-form
                [unitTypes]="(sortedUnitTypes$ | async) ?? []"
                (attackerInfo)="updateAttacker($event)"></app-attacker-form>
        </mat-card-content>
    </mat-card>

    <div class="vertical-gapped">
        <mat-card>
            <mat-card-title>Defending unit</mat-card-title>
            <mat-card-content>
                <app-defender-form
                    [unitTypes]="(sortedUnitTypes$ | async) ?? []"
                    (defenderInfo)="updateDefender($event)"></app-defender-form>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Defender meta info</mat-card-title>
            <mat-card-content>
                <app-defender-meta-form (defenderMetaInfo)="updateDefenderMeta($event)"></app-defender-meta-form>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card>
        <mat-card-title>Results</mat-card-title>
        <mat-card-content>
            <ng-container
                *ngIf="(attackerResult$ | async) !== null && (defenderResult$ | async) !== null; else emptyResults">
                <ng-container *ngIf="attackerResult$ | async as attackerResult">
                    <p>Attacker win chance: {{ attackerResult.winChance * 100 | number : '1.0-2' }}%</p>
                    <p>Attacker average lost hp: {{ attackerResult.averageLostHp | number : '1.0-1' }}</p>
                    <p>Attacker lost hp std error: {{ attackerResult.lostHpStdError | number : '1.0-2' }}</p>
                </ng-container>
                <ng-container *ngIf="defenderResult$ | async as defenderResult">
                    <p>Defender win chance: {{ defenderResult.winChance * 100 | number : '1.0-2' }}%</p>
                    <p>Defender average lost hp: {{ defenderResult.averageLostHp | number : '1.0-1' }}</p>
                    <p>Defender lost hp std error: {{ defenderResult.lostHpStdError | number : '1.0-2' }}</p>
                </ng-container>
            </ng-container>
            <ng-template #emptyResults>
                <p>Combat results will be shown here</p>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
