<mat-toolbar>
    <div class="toolbar">
        <h1 [ngSwitch]="screen$ | async">{{ toolbarTitle$ | async }}</h1>
        <button
            *ngIf="showBackToRulesetPickerButton$ | async"
            mat-stroked-button
            color="accent"
            class="toolbar__back"
            (click)="backToRulesetSelection()">
            Back to ruleset selection
        </button>
        <button
            *ngIf="showBackToToolPickerButton | async"
            mat-stroked-button
            color="accent"
            class="toolbar__back"
            (click)="backToToolSelection()">
            Back to tool selection
        </button>
    </div>
</mat-toolbar>
<div class="app-container">
    <div class="content-container">
        <app-ruleset-picker *ngIf="(screen$ | async) === 'rulesetPick'"></app-ruleset-picker>
        <app-tool-picker *ngIf="(screen$ | async) === 'toolPick'"></app-tool-picker>
        <app-combat-simulator *ngIf="(screen$ | async) === 'combatForm'"></app-combat-simulator>
    </div>
</div>
