<mat-toolbar>
    <div class="toolbar">
        <h1 [ngSwitch]="screen$ | async">{{ toolbarTitle$ | async }}</h1>
        <button
            *ngIf="showBackToRulesetPickerButton$ | async"
            mat-stroked-button
            class="toolbar__back"
            (click)="backToRulesetSelection()">
            Back to ruleset selection
        </button>
        <button
            *ngIf="showBackToToolPickerButton | async"
            mat-stroked-button
            class="toolbar__back"
            (click)="backToToolSelection()">
            Back to tool selection
        </button>
    </div>
</mat-toolbar>
<div class="app-container">
    <div class="content-container" [ngSwitch]="screen$ | async">
        <app-ruleset-picker *ngSwitchCase="'rulesetPick'"></app-ruleset-picker>
        <app-tool-picker *ngSwitchCase="'toolPick'"></app-tool-picker>
        <app-combat-simulator *ngSwitchCase="'combatForm'"></app-combat-simulator>
        <app-bribe-cost-calculator *ngSwitchCase="'bribeCostForm'"></app-bribe-cost-calculator>
        <app-incite-cost-calculator *ngSwitchCase="'inciteCostForm'"></app-incite-cost-calculator>
    </div>
</div>
