@use '@angular/material' as mat;
@use '/src/theme';

:host {
    display: block;
}

.toolbar {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    flex: 1 1 1200px;
    margin-inline: auto;

    &__back {
        margin-left: auto;
    }
}

.app-container {
    padding: 16px;
}

.content-container {
    max-width: 1200px;
    margin-inline: auto;
}
