<form class="ruleset-picker__container" [formGroup]="pickerForm">
    <h2>Ruleset</h2>
    <mat-form-field color="primary">
        <mat-label>Ruleset presets</mat-label>
        <mat-select [value]="'none'" formControlName="preset">
            <mat-option [value]="'none'">None</mat-option>
            <mat-option [value]="'ltt'">LTT (latest)</mat-option>
            <mat-option [value]="'ltx'">LTX (latest)</mat-option>
            <mat-option [value]="'lt76'">LT76</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field color="primary">
        <mat-label>effects.ruleset URL</mat-label>
        <input matInput formControlName="effectsUrl" [readonly]="readonlyInputs$ | async" />
        <mat-error *ngIf="isInvalid(pickerForm.controls.effectsUrl)">
            {{ getError(pickerForm.controls.effectsUrl) }}
        </mat-error>
    </mat-form-field>
    <mat-form-field color="primary">
        <mat-label>terrain.ruleset URL</mat-label>
        <input matInput formControlName="terrainUrl" [readonly]="readonlyInputs$ | async" />
        <mat-error *ngIf="isInvalid(pickerForm.controls.terrainUrl)">
            {{ getError(pickerForm.controls.terrainUrl) }}
        </mat-error>
    </mat-form-field>
    <mat-form-field color="primary">
        <mat-label>units.ruleset URL</mat-label>
        <input matInput formControlName="unitsUrl" [readonly]="readonlyInputs$ | async" />
        <mat-error *ngIf="isInvalid(pickerForm.controls.unitsUrl)">
            {{ getError(pickerForm.controls.unitsUrl) }}
        </mat-error>
    </mat-form-field>
    <button
        class="ruleset-picker__send"
        mat-raised-button
        [color]="(loadState$ | async) === 'error' ? 'warn' : 'accent'"
        [disabled]="pickerForm.invalid || (loadState$ | async) === 'loading'"
        [ngSwitch]="loadState$ | async"
        (click)="loadRuleset()">
        <ng-container *ngSwitchCase="'beforeLoad'">Load ruleset</ng-container>
        <ng-container *ngSwitchCase="'loading'"
            ><mat-spinner diameter="24" color="primary"></mat-spinner>Loading ruleset...</ng-container
        >
        <ng-container *ngSwitchCase="'loaded'">Ruleset loaded. Reload?</ng-container>
        <ng-container *ngSwitchCase="'error'">Error when loading ruleset, try again?</ng-container>
    </button>
</form>
