<div class="ruleset-preset-cards">
    <mat-card class="custom-ruleset-card">
        <mat-card-header>
            <mat-card-title>
                <h3>Custom ruleset</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="custom-ruleset-card__form" [formGroup]="pickerForm">
                <mat-form-field color="primary">
                    <mat-label>Ruleset .serv file URL</mat-label>
                    <input matInput formControlName="settingsUrl" [readonly]="(loadState$ | async) === 'loading'" />
                    <mat-error *ngIf="isInvalid(pickerForm.controls.settingsUrl)">
                        {{ getError(pickerForm.controls.settingsUrl) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="primary">
                    <mat-label>players.serv file URL</mat-label>
                    <input matInput formControlName="playersUrl" [readonly]="(loadState$ | async) === 'loading'" />
                    <mat-error *ngIf="isInvalid(pickerForm.controls.playersUrl)">
                        {{ getError(pickerForm.controls.playersUrl) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="primary">
                    <mat-label>Ruleset data base URL</mat-label>
                    <input matInput formControlName="baseUrl" [readonly]="(loadState$ | async) === 'loading'" />
                    <mat-error *ngIf="isInvalid(pickerForm.controls.baseUrl)">
                        {{ getError(pickerForm.controls.baseUrl) }}
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                mat-button
                color="accent"
                [disabled]="pickerForm.invalid || (loadState$ | async) === 'loading'"
                (click)="loadCustomRuleset()">
                Load ruleset
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="ruleset-card" *ngFor="let preset of rulesetPresets" (click)="loadRulesetPreset(preset)">
        <mat-card-content>
            <h3 class="ruleset-card__title">{{ preset.label }}</h3>
        </mat-card-content>
    </mat-card>
</div>
