<p>Some small features are not implemented, see Combat Simulator</p>
<p>Not implemented: promotions within battle</p>
<p>Not implemented: things that increase the amount of movement points units may have</p>
<div class="battle-info">
    <div class="vertical-gapped">
        <mat-card>
            <mat-card-title>Attacking unit selection options</mat-card-title>
            <mat-card-content>
                <mat-checkbox disabled>Choose next unit when current one is below X moves</mat-checkbox>
                <mat-form-field class="fullwidth">
                    <mat-label>Minimum MP</mat-label>
                    <input disabled matInput type="number" min="1" max="99" />
                </mat-form-field>
                <mat-checkbox disabled>Choose next unit when current one is below X HP</mat-checkbox>
                <mat-form-field class="fullwidth">
                    <mat-label>Minimum HP</mat-label>
                    <input disabled matInput type="number" min="1" max="99" />
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <!--<h2>Attacker info</h2>-->
        <div>
            <h2>Attacking units</h2>
            <div class="unit-group-actions">
                <button mat-button>Clear this side</button>
                <button mat-stroked-button color="primary">Add attacking unit</button>
            </div>
        </div>
    </div>
    <div class="vertical-gapped">
        <mat-card>
            <mat-card-title>Defender meta info</mat-card-title>
            <mat-card-content>
                <app-defender-meta-form (defenderMetaInfo)="updateDefenderMeta($event)"></app-defender-meta-form>
            </mat-card-content>
        </mat-card>
        <h2>Defending units</h2>
        <div class="unit-group-actions">
            <button mat-button>Clear this side</button>
            <button mat-stroked-button color="primary">Add defending unit</button>
        </div>
    </div>
    <div>
        <h2>Battle result</h2>
    </div>
</div>
