@use '@angular/material' as mat;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
}

@include mat.core();

$my-primary: mat.define-palette(mat.$light-blue-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent
        ),
        typography: mat.define-typography-config()
    )
);

@include mat.all-component-themes($my-theme);
