<form [formGroup]="defenderMetaForm" class="formutils__gaps">
    <mat-form-field class="fullwidth" subscriptSizing="dynamic">
        <mat-label>Terrain</mat-label>
        <mat-select formControlName="terrain">
            <mat-option *ngFor="let terrain of terrains$ | async" [value]="terrain">{{ terrain.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="formutils__two-cols">
        <mat-checkbox formControlName="isInCity">Inside a city</mat-checkbox>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>City size</mat-label>
            <input
                matInput
                formControlName="citySize"
                type="number"
                min="1"
                max="99"
                [readonly]="!defenderMetaForm.controls.isInCity.value" />
        </mat-form-field>
    </div>
    <mat-form-field class="fullwidth" subscriptSizing="dynamic">
        <mat-label>Tile extras</mat-label>
        <mat-select multiple formControlName="tileExtras">
            <mat-option *ngFor="let extra of extras$ | async" [value]="extra">{{ extra }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fullwidth" subscriptSizing="dynamic">
        <mat-label>City buildings</mat-label>
        <mat-select multiple formControlName="cityBuildings">
            <mat-option *ngFor="let building of buildings$ | async" [value]="building">{{ building }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fullwidth" subscriptSizing="dynamic">
        <mat-label>Player wonders</mat-label>
        <mat-select multiple formControlName="playerWonders">
            <mat-option *ngFor="let wonder of wonders$ | async" [value]="wonder">{{ wonder }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>
